.grid-row:after, #content:after, fieldset:after, .form-section:after,
.form-group:after, .notice:after, .panel:after {
  content: "";
  display: block;
  clear: both; }

#content {
  max-width: 70%;
  margin: 0 15px; }
  @media (min-width: 641px) {
    #content {
      margin: 0 30px; } }

.grid-row {
  margin: 0 -15px; }

.grid-row:after, #content:after, fieldset:after, .form-section:after,
.form-group:after, .notice:after, .panel:after {
  content: "";
  display: block;
  clear: both; }

.grid-row:after, #content:after, fieldset:after, .form-section:after,
.form-group:after, .notice:after, .panel:after {
  content: "";
  display: block;
  clear: both; }

.grid-row:after, #content:after, fieldset:after, .form-section:after,
.form-group:after, .notice:after, .panel:after {
  content: "";
  display: block;
  clear: both; }

#content {
  max-width: 70%;
  margin: 0 15px; }
  @media (min-width: 641px) {
    #content {
      margin: 0 30px; } }

.grid-row {
  margin: 0 -15px; }

.visually-hidden,
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

ul,
ol {
  list-style-type: none; }

.list {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 20px; }

.list li {
  margin-bottom: 5px; }

.list-bullet {
  list-style-type: disc;
  padding-left: 20px; }

.list-number {
  list-style-type: decimal;
  padding-left: 20px; }

.button {
  background-color: #00823b;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: .526315em .789473em .263157em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: 1px solid transparent;
  outline-offset: -1px;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003618;
  -moz-box-shadow: 0 2px 0 #003618;
  box-shadow: 0 2px 0 #003618;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top; }
  .button:visited {
    background-color: #00823b; }
  .button:hover, .button:focus {
    background-color: #00692f; }
  .button:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #00823b;
    -moz-box-shadow: 0 0 0 #00823b;
    box-shadow: 0 0 0 #00823b; }
  .button.disabled, .button[disabled="disabled"], .button[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
      cursor: default;
      background-color: #00823b; }
    .button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #003618;
      -moz-box-shadow: 0 2px 0 #003618;
      box-shadow: 0 2px 0 #003618; }
  .button:link, .button:link:focus, .button:hover, .button:focus, .button:visited {
    color: #fff; }
  .button:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .button:active:before {
    top: -10%;
    height: 120%; }
  @media (max-width: 640px) {
    .button {
      width: 100%;
      text-align: center; } }

.button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.button:focus {
  outline: 3px solid #ffbf47; }

.button[disabled="disabled"] {
  background: #00823b; }

.button[disabled="disabled"]:focus {
  outline: none; }

.button-start,
.button-get-started {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;
  background-image: url("../vendor/govuk_frontend_toolkit/images/icon-pointer.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: 0.36842em 2.15789em 0.21053em 0.84211em; }
  @media (min-width: 641px) {
    .button-start,
    .button-get-started {
      font-size: 24px;
      line-height: 1.25; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .button-start,
    .button-get-started {
      background-image: url("../vendor/govuk_frontend_toolkit/images/icon-pointer-2x.png");
      background-size: 30px 19px; } }

#content {
  padding-bottom: 30px;
  outline: none; }
  @media (min-width: 769px) {
    #content {
      padding-bottom: 90px; } }

.column-quarter,
.column-one-quarter {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .column-quarter,
    .column-one-quarter {
      float: left;
      width: 25%; } }

.column-half,
.column-one-half {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .column-half,
    .column-one-half {
      float: left;
      width: 50%; } }

.column-third,
.column-one-third {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .column-third,
    .column-one-third {
      float: left;
      width: 33.33333%; } }

.column-two-thirds {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .column-two-thirds {
      float: left;
      width: 66.66667%; } }

.column-full {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .column-full {
      float: left;
      width: 100%; } }

fieldset {
  width: 100%; }

legend {
  overflow: hidden; }

textarea {
  display: block; }

.form-section,
.form-group {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.form-section {
  margin-bottom: 30px; }
  @media (min-width: 641px) {
    .form-section {
      margin-bottom: 60px; } }

.form-group {
  margin-bottom: 15px; }
  @media (min-width: 641px) {
    .form-group {
      margin-bottom: 30px; } }

.form-group-related {
  margin-bottom: 10px; }
  @media (min-width: 641px) {
    .form-group-related {
      margin-bottom: 20px; } }

.form-group-compound {
  margin-bottom: 10px; }

.form-label,
.form-label-bold {
  display: block;
  color: #0b0c0c;
  padding-bottom: 2px; }

.form-label {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25; }
  @media (min-width: 641px) {
    .form-label {
      font-size: 19px;
      line-height: 1.31579; } }

.form-label-bold {
  font-family: "nta", Arial, sans-serif;
  font-weight: 500;
  text-transform: none;
  font-size: 14px;
  line-height: 1.25; }
  @media (min-width: 641px) {
    .form-label-bold {
      font-size: 19px;
      line-height: 1.31579; } }

.form-block {
  float: left;
  clear: left;
  margin-top: -5px;
  margin-bottom: 5px; }
  @media (min-width: 641px) {
    .form-block {
      margin-top: 0;
      margin-bottom: 10px; } }

.form-hint {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  display: block;
  color: #6f777b;
  font-weight: normal;
  margin-top: -2px;
  padding-bottom: 2px; }
  @media (min-width: 641px) {
    .form-hint {
      font-size: 19px;
      line-height: 1.31579; } }

.form-label .form-hint,
.form-label-bold .form-hint {
  margin-top: 0;
  padding-bottom: 0; }

.form-control {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  width: 100% !important;
  border-radius: 5px;
  padding: 5px 4px 4px;
  border: 1px solid #d0d0d0; }
  @media (min-width: 641px) {
    .form-control {
      font-size: 19px;
      line-height: 1.31579; } }
  @media (min-width: 641px) {
    .form-control {
      width: 50%; } }

textarea.form-control {
  opacity: 1;
  background-image: none; }

.form-control-3-4 {
  width: 100%; }
  @media (min-width: 641px) {
    .form-control-3-4 {
      width: 75%; } }

.form-control-2-3 {
  width: 100%; }
  @media (min-width: 641px) {
    .form-control-2-3 {
      width: 66.66%; } }

.form-control-1-2 {
  width: 100%; }
  @media (min-width: 641px) {
    .form-control-1-2 {
      width: 50%; } }

.form-control-1-3 {
  width: 100%; }
  @media (min-width: 641px) {
    .form-control-1-3 {
      width: 33.33%; } }

.form-control-1-4 {
  width: 100%; }
  @media (min-width: 641px) {
    .form-control-1-4 {
      width: 25%; } }

.form-control-1-8 {
  width: 100%; }
  @media (min-width: 641px) {
    .form-control-1-8 {
      width: 12.5%; } }

option:active,
option:checked,
select:focus::-ms-value {
  color: #fff;
  background-color: #005ea5; }

main {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased; }
  @media (min-width: 641px) {
    main {
      font-size: 19px;
      line-height: 1.31579; } }

.font-xxlarge {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 53px;
  line-height: 1.03774; }
  @media (min-width: 641px) {
    .font-xxlarge {
      font-size: 80px;
      line-height: 1; } }

.font-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 32px;
  line-height: 1.09375; }
  @media (min-width: 641px) {
    .font-xlarge {
      font-size: 48px;
      line-height: 1.04167; } }

.font-large {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 24px;
  line-height: 1.04167; }
  @media (min-width: 641px) {
    .font-large {
      font-size: 36px;
      line-height: 1.11111; } }

.font-medium {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2; }
  @media (min-width: 641px) {
    .font-medium {
      font-size: 24px;
      line-height: 1.25; } }

.font-small {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25; }
  @media (min-width: 641px) {
    .font-small {
      font-size: 19px;
      line-height: 1.31579; } }

.font-xsmall {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286; }
  @media (min-width: 641px) {
    .font-xsmall {
      font-size: 16px;
      line-height: 1.25; } }

.bold-xxlarge {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 53px;
  line-height: 1.03774; }
  @media (min-width: 641px) {
    .bold-xxlarge {
      font-size: 80px;
      line-height: 1; } }

.bold-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 32px;
  line-height: 1.09375; }
  @media (min-width: 641px) {
    .bold-xlarge {
      font-size: 48px;
      line-height: 1.04167; } }

.bold-large {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 24px;
  line-height: 1.04167; }
  @media (min-width: 641px) {
    .bold-large {
      font-size: 36px;
      line-height: 1.11111; } }

.bold-medium {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2; }
  @media (min-width: 641px) {
    .bold-medium {
      font-size: 24px;
      line-height: 1.25; } }

.bold-small {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25; }
  @media (min-width: 641px) {
    .bold-small {
      font-size: 19px;
      line-height: 1.31579; } }

.bold-xsmall {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286; }
  @media (min-width: 641px) {
    .bold-xsmall {
      font-size: 16px;
      line-height: 1.25; } }

.bold {
  font-weight: 700; }

.heading-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 32px;
  line-height: 1.09375;
  margin-top: 0.46875em;
  margin-bottom: 0.9375em; }
  @media (min-width: 641px) {
    .heading-xlarge {
      font-size: 48px;
      line-height: 1.04167; } }
  @media (min-width: 641px) {
    .heading-xlarge {
      margin-top: 0.625em;
      margin-bottom: 1.25em; } }
  .heading-xlarge .heading-secondary {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 20px;
    line-height: 1.11111;
    display: block;
    padding-top: 8px;
    padding-bottom: 7px;
    display: block;
    color: #6f777b; }
    @media (min-width: 641px) {
      .heading-xlarge .heading-secondary {
        font-size: 27px;
        line-height: 1.11111; } }
    @media (min-width: 641px) {
      .heading-xlarge .heading-secondary {
        padding-top: 4px;
        padding-bottom: 6px; } }

.heading-large {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 24px;
  line-height: 1.04167;
  margin-top: 1.04167em;
  margin-bottom: 0.41667em; }
  @media (min-width: 641px) {
    .heading-large {
      font-size: 36px;
      line-height: 1.11111; } }
  @media (min-width: 641px) {
    .heading-large {
      margin-top: 1.25em;
      margin-bottom: 0.55556em; } }
  .heading-large .heading-secondary {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    display: block;
    padding-top: 9px;
    padding-bottom: 6px;
    display: block;
    color: #6f777b; }
    @media (min-width: 641px) {
      .heading-large .heading-secondary {
        font-size: 24px;
        line-height: 1.25; } }
    @media (min-width: 641px) {
      .heading-large .heading-secondary {
        padding-top: 6px;
        padding-bottom: 4px; } }

.heading-medium {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 15px;
  margin-bottom: 5px; }
  @media (min-width: 641px) {
    .heading-medium {
      font-size: 24px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    .heading-medium {
      margin-top: 1.875em;
      margin-bottom: 0.83333em; } }

.heading-small {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 0.625em;
  margin-bottom: 0.3125em; }
  @media (min-width: 641px) {
    .heading-small {
      font-size: 19px;
      line-height: 1.31579; } }
  @media (min-width: 641px) {
    .heading-small {
      margin-top: 1.05263em; } }

p,
.body-text {
  margin-top: 0.3125em;
  margin-bottom: 1.25em; }
  @media (min-width: 641px) {
    p,
    .body-text {
      margin-top: 0.26316em;
      margin-bottom: 1.05263em; } }

.body-text {
  display: block; }

.lede {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2; }
  @media (min-width: 641px) {
    .lede {
      font-size: 24px;
      line-height: 1.25; } }

.text {
  max-width: 30em; }

.text-secondary {
  color: #6f777b; }

.link {
  color: #005ea5;
  text-decoration: underline; }

.link:visited {
  color: #4c2c92; }

.link:hover {
  color: #2b8cc4; }

.link:active {
  color: #005ea5; }

.link-back {
  display: -moz-inline-stack;
  display: inline-block;
  position: relative;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 14px;
  color: #0b0c0c;
  text-decoration: none;
  border-bottom: 1px solid #0b0c0c; }
  @media (min-width: 641px) {
    .link-back {
      font-size: 16px;
      line-height: 1.25; } }
  .link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
    color: #0b0c0c; }
  .link-back::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 6px solid #0b0c0c;
    border-bottom: 5px solid transparent;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px; }

.code {
  color: #0b0c0c;
  background-color: #f8f8f8;
  text-shadow: 0 1px #fff;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  border: 1px solid #bfc1c3;
  padding: 4px 4px 2px; }

hr {
  display: block;
  background: #bfc1c3;
  border: 0;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0; }

.notice {
  position: relative; }
  .notice .icon {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -17px; }
  .notice strong {
    display: block;
    padding-left: 65px;
    margin-left: -15px; }

.data {
  margin-top: 0.3125em;
  margin-bottom: 1.25em; }
  @media (min-width: 641px) {
    .data {
      margin-top: 0.26316em;
      margin-bottom: 1.05263em; } }

.data-item {
  display: block;
  line-height: 1; }

.panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  border-left-style: solid;
  border-color: #bfc1c3;
  padding: 0.78947em;
  margin-bottom: 0.78947em; }
  .panel :first-child {
    margin-top: 0; }
  .panel :only-child,
  .panel :last-child {
    margin-bottom: 0; }

.panel-border-wide {
  border-left-width: 10px; }

.panel-border-narrow {
  border-left-width: 5px; }

.form-group .panel-border-narrow {
  float: left;
  width: 100%;
  padding-bottom: 0; }

.form-group .panel-border-narrow:first-child {
  margin-top: 10px; }

.form-group .panel-border-narrow:last-child {
  margin-top: 0;
  margin-bottom: 0; }

.inline .panel-border-narrow,
.inline .panel-border-narrow:last-child {
  margin-top: 10px;
  margin-bottom: 0; }

details {
  display: block;
  clear: both; }
  details summary {
    display: inline-block;
    color: #005ea5;
    cursor: pointer;
    position: relative;
    margin-bottom: 0.26316em; }
    details summary:hover {
      color: #2b8cc4; }
    details summary:focus {
      outline: 3px solid #ffbf47; }
  details .summary {
    text-decoration: underline; }
  details .arrow {
    margin-right: .35em;
    font-style: normal; }

@-moz-document regexp('.*') {
  details summary:not([tabindex]) {
    display: list-item;
    display: revert; } }

.form-group-error {
  margin-right: 15px;
  border-left: 4px solid #b10e1e;
  padding-left: 10px; }
  @media (min-width: 641px) {
    .form-group-error {
      border-left: 5px solid #b10e1e;
      padding-left: 15px; } }

.form-control-error {
  border: 4px solid #b10e1e; }

.error-message {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  color: #b10e1e;
  display: block;
  clear: both;
  margin: 0;
  padding: 2px 0; }
  @media (min-width: 641px) {
    .error-message {
      font-size: 19px;
      line-height: 1.31579; } }

.form-label .error-message,
.form-label-bold .error-message {
  padding-top: 4px;
  padding-bottom: 0; }

.error-summary {
  border: 4px solid #b10e1e;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 10px; }
  @media (min-width: 641px) {
    .error-summary {
      border: 5px solid #b10e1e;
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 20px 15px 15px; } }
  .error-summary:focus {
    outline: 3px solid #ffbf47; }
  .error-summary .error-summary-heading {
    margin-top: 0; }
  .error-summary p {
    margin-bottom: 10px; }
  .error-summary .error-summary-list {
    padding-left: 0; }
    @media (min-width: 641px) {
      .error-summary .error-summary-list li {
        margin-bottom: 5px; } }
    .error-summary .error-summary-list a {
      color: #b10e1e;
      font-weight: bold;
      text-decoration: underline; }

.multiple-choice {
  display: block;
  float: none;
  clear: left;
  position: relative;
  padding: 0 0 0 38px;
  margin-bottom: 10px; }
  @media (min-width: 641px) {
    .multiple-choice {
      float: left; } }
  .multiple-choice input {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    z-index: 1;
    border-radius: 5px;
    margin: 0;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0; }
  .multiple-choice label {
    cursor: pointer;
    padding: 8px 10px 9px 12px;
    display: block;
    -ms-touch-action: manipulation;
    touch-action: manipulation; }
    @media (min-width: 641px) {
      .multiple-choice label {
        float: left;
        padding-top: 7px;
        padding-bottom: 7px; } }
  .multiple-choice [type=radio] + label::before {
    content: "";
    border: 2px solid;
    background: transparent;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  .multiple-choice [type=radio] + label::after {
    content: "";
    border: 10px solid;
    width: 0;
    height: 0;
    position: absolute;
    top: 9px;
    left: 9px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0; }
  .multiple-choice [type=checkbox] + label::before {
    content: "";
    border: 2px solid;
    background: transparent;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0; }
  .multiple-choice [type=checkbox] + label::after {
    content: "";
    border: solid;
    border-width: 0 0 5px 5px;
    background: transparent;
    width: 17px;
    height: 7px;
    position: absolute;
    top: 10px;
    left: 8px;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0; }
  .multiple-choice [type=radio]:focus + label::before {
    -webkit-box-shadow: 0 0 0 4px #ffbf47;
    -moz-box-shadow: 0 0 0 4px #ffbf47;
    box-shadow: 0 0 0 4px #ffbf47; }
  .multiple-choice [type=checkbox]:focus + label::before {
    -webkit-box-shadow: 0 0 0 3px #ffbf47;
    -moz-box-shadow: 0 0 0 3px #ffbf47;
    box-shadow: 0 0 0 3px #ffbf47; }
  .multiple-choice input:checked + label::after {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1; }
  .multiple-choice input:disabled + label {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
  .multiple-choice:last-child, .multiple-choice:last-of-type {
    margin-bottom: 0; }

.inline .multiple-choice {
  clear: none; }
  @media (min-width: 641px) {
    .inline .multiple-choice {
      margin-bottom: 0;
      margin-right: 30px; } }

.list.horizontal li {
  display: list-item; }
  @media (min-width: 641px) {
    .list.horizontal li {
      display: inline; } }
