html,
body {
  height: 100% !important;
  overflow: hidden !important;
}

html {
  position: relative !important;
  font-family: "Roboto", sans-serif !important;
}

#main-page-image {
  display: block;
  margin: 40px auto;
  max-width: 80% !important;
}

#global-header-bar {
  display: none !important;
}

#footer {
  text-transform: uppercase;
  padding-bottom: 20px !important;
  text-align: center !important;
  height: 25px !important;
  width: 100% !important;
  color: #484564 !important;
  font-size: 12px !important;
  overflow: hidden !important;
  position: absolute !important;
  left: 0 !important;
  bottom: 0 !important;
  background: none !important;
  border: none !important;
}

#kc-login,
.button {
  width: 100% !important;
  padding: 10px !important;
  font-weight: bold !important;
  background: #2c4465 !important;
  border-radius: 5px !important;
  color: #fff !important;
  font-size: 14px !important;
}

#global-header,
.header-wrapper {
  background: #fff !important;
}

.form-group,
.checkbox.form-group {
  margin-bottom: 10px !important;
}

.heading-large {
  margin-top: 10px !important;
  font-size: 30px;
  color: #2c4465 !important;
}

.sub-login-text {
  font-size: 12px;
  margin-bottom: 20px;
}

input {
  outline: none !important;
}

.grid-row {
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 70%;
}

#logo {
  width: 187px;
  height: 73px;
  margin: 0 !important;
}

.username-login,
.password-login {
  padding: 10px;
}

#forgot-block {
  float: right;
  width: 50%;
  margin: 0;
  display: inline-block;
  text-align: right;
  font-size: 13px;
}

#forgot-block a {
  color: #000;
  text-decoration: none;
}

.remember-me-block {
  width: 50%;
  margin: 0;
  display: inline-block;
  float: left;
  font-size: 13px;
}

#register-text {
  margin: 40px 0 5px 0;
  padding-top: 30px;
  font-size: 14px;
  border-top: 2px solid #d0d0d0;
}

#register-button {
  width: 40% !important;
  padding: 10px !important;
  font-weight: bold !important;
  background: #fff !important;
  border-radius: 5px !important;
  color: #2c4465 !important;
  text-decoration: none !important;
  display: block !important;
  text-align: center;
  border: 2px solid #2c4465 !important;
  font-size: 12px !important;
}

.link-back {
  margin: 0 !important;
}

.error-summary {
  margin: 0 0 15px 0 !important;
  padding: 5px !important;
  text-align: center !important;
  background: #b10e1e !important;
  color: #fff !important;
  outline: none !important;
}

.error-summary h1 {
  font-size: 16px !important;
}

.error-summary li {
  font-size: 14px !important;
}

.error-summary ul {
  margin: 0 !important;
}

.remember-me-label {
  font-size: 12px !important;
  display: inline-block !important;
}

.remember-me-label::before {
  display: none;
}

#rememberMe {
  display: inline-block !important;
  float: left !important;
  margin-right: 10px !important;
  transform: scale(1.5) !important;
}

.multiple-choice {
  padding: 0 !important;
}

#forgot-text {
  margin: 0 !important;
}

#forgot-link {
  font-size: 12px;
}

.multiple-choice input {
  opacity: 1 !important;
  position: static !important;
}

.multiple-choice label {
  padding: 0 !important;
}

.form-label-bold {
  font-size: 16px !important;
}

.email-instruction {
  font-size: 14px;
}

.send-email-button,
.login-button {
  font-size: 14px;
}

#content {
  margin: 0 auto !important;
}


@media screen and (max-width: 1000px) {
  .column-one-third {
    width: 100% !important;
  }

  .column-two-thirds {
    display: none !important;
  }
}

@media screen and (max-height: 775px) {
  #logo {
    width: 124px;
    height: 48px;
  }

  #global-header #logo {
    background-size: 124px 48px;
  }
}

@media screen and (max-height: 720px) {
  #logo {
    width: 82px;
    height: 32px;
  }

  #global-header #logo {
    background-size: 82px 32px;
  }
}
